.radioGroup {
	display: flex;
	flex-direction: row;
}

.helperText {
	margin-top: 0;
	color: red;
}

.controlLabel {
	margin-right: 20px;
}
.space {
	margin-top: 16px;
}

.group {
	display: flex;
	flex-direction: row;
	padding-left: 8px;
	padding-top: 8px;
}

.label {
	margin-right: 4px;
	font-size: 0.775rem;
}

.radioLabel {
	margin-right: 32px;
}

.radio {
	margin-right: 4px;
}
