.list {
	list-style: none;
	margin: 0;
	padding: 12px 0;
}
.list li {
	padding: 8px 0;
	font-size: 0.875rem;
}
.list li.tick {
	color: green;
}
.list li.tick:before {
	content: '\2713 ';
	color: darkgreen;
}

.list li.cross:before {
	content: '\2717 ';
	color: crimson;
}

.list li.cross {
	color: red;
}

.deleteDocButtonContainer{
	padding: 32px 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.deleteDocButton:hover {
	background-color: #902020;
}

.addDoc {
	background-color: #507a18;
}

.addDoc:hover {
	background-color: #6da324;
}


.wrapper {
	padding:  0 8px;
}