.content {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	gap: 16px;
	align-items: center;
	text-align: center;
}

.icon {
	cursor: pointer;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 20px;
	margin-bottom: 44px;
}
