.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	grid-gap: 32px;
	margin: 32px 0;
}

.folder {
	padding: 44px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: green;
	font-size: 18px;
}
