.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	grid-gap: 32px;
	margin: 32px 0;
}

.notification {
	padding: 44px;
}

.folder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: green;
	font-size: 18px;
}

.cabinet {
	padding: 20px;
	font-weight: bold;
	text-align: center;
}
