.flexRow {
	display: flex;
	flex-direction: row;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}
.nextButtonContainer {
	margin-top: 25px;
	margin-bottom: 5px;
}

.stepLabel {
	font-size: 20px;
}
.checkFormControlLabel {
	justify-content: flex-end;
	margin-left: 0;
}
