.namePageTitle {
	font-family: 'Trebuchet', serif;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2rem;
	text-align: center;
}
.currentStepLabel {
	font-weight: bold;
}

.loading {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.errorContainer {
	margin-top: 16px;
	margin-bottom: 4px;
	display: flex;
	justify-content: center;
}
.stepper {
	display: flex;
	margin: 20px;
	background-color: #fdfdff;
	border-radius: 10px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.root {
	padding: 20px;
}

.stepButton {
	justify-content: flex-start;
}
