.logo {
	padding-top: 8px;
	padding-bottom: 8px;
	height: 64px;
	position: absolute;
	top: 0;
	left: 14px;
	cursor: pointer;
}

.namePageTitle {
	font-family: 'Trebuchet', serif;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2rem;
	text-align: center;
}
.currentStepLabel {
	font-weight: bold;
}

.loading {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.errorContainer {
	margin-top: 16px;
	margin-bottom: 4px;
	display: flex;
	justify-content: center;
}

.nav {
	display: grid;
	height: 100%;
	padding: 0 60px;
	align-items: center;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 125px));
	background-color: #e8f0ff;
}

.stepper {
	margin: 0 50px 50px 50px;
	min-height: 250px;
	background-color: #fdfdff;
	border-radius: 10px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}
