.logo {
	padding-top: 8px;
	padding-bottom: 8px;
	height: 64px;
	position: absolute;
	top: 0;
	left: 20px;
	cursor: pointer;
}

.link {
	font-size: 1rem;
}
.container {
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr;
	height: 44px;
	justify-items: center;
	background-color: #e8f0ff;
	width: 100%;
}
.nav {
	display: grid;
	height: 100%;
	padding: 4px 60px;
	align-items: center;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 125px));
	background-color: #e8f0ff;
}
